/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
.App {
    text-align: center;
}
.text-danger{
    color:black;
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
.custom-table {
    border: 1px solid #000; /* Black border around the table */
}

    .custom-table .MuiDataGrid-columnsContainer {
        border-bottom: 1px solid #000; /* Black border at the bottom of the header */
        background-color: yellow; /* Background color for the header */
    }

    .custom-table .MuiDataGrid-cell {
        border-right: 1px solid #000; /* Black border between columns */
        border-bottom: 1px solid #000; /* Black border between rows */
    }

    .custom-table .MuiDataGrid-row:last-child .MuiDataGrid-cell {
        border-bottom: none; /* Remove bottom border for the last row */
    }

.custom-header-name {
    color: azure;
    font: bold;
    align-items: center;
    background-color: #696969; /* gray background for Name column header */
}
.MuiDataGrid-sortIcon path {
    fill: white; /* Change arrow color to white */
}
.MuiButtonBase-root.MuiIconButton-root:hover .MuiDataGrid-sortIcon path {
    fill: white; /* Change hover arrow color to white */
}
/* Target the menu icon */
.MuiDataGrid-menuIconButton svg {
    fill: white; /* Change menu icon color to white */
}
.MuiDataGrid-root .MuiDataGrid-cell:hover {
    background-color: lightgray; /* Change cell hover color to pink */
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}
.contact-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.contact-form {
    display: flex;
    flex-direction: column;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

code {
  color: #E01A76;
}
/*.app-container {
    margin-top: 60px;*/ /* Adjust the value as needed */
/*}*/
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.light-underline {
    border-bottom: 1px solid lightblue; /* Adjust the color and opacity as needed */
}
@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Apply the animation to the toast notification */
.toastify.toast {
    animation: slideInRight 0.5s ease-in-out forwards;
}
#loginpage {
    padding:60px;
    margin-top: 0px;
    height: 99vh;
    width: 68vw;
    margin-right:50%;
    background-image: url('components/bg2.png');
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.css-mpjsgn-MuiPaper-root-MuiTableContainer-root {
    background-color: darkblue;
    position: absolute;
  padding: 50px 50px 50px 50px;

}
#SignUppage {
    padding: 60px;
    margin-top: 0px;
    height: 99vh;
    width: 68vw;
    margin-right: 50%;
    background-image: url('components/bg2.png');
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bg-light-blue form {
    border-radius: 10px;
    position: fixed;
    top: 68%;
    right: 18%;
    height: 700px;
    width: 310px;
    transform: translate(50%, -50%);
}

.modal {
     margin-Top: 20px;
   /* width:80%;
    max-width:800px;
    margin-Left:auto;
    margin-Right:auto;*/
}
.btn-close {
    background-color: red;
    color: black;
}

.modal-content {
    background-color: lightsteelblue;
    
    overflow: auto;
    height: 600px;
    width: 900px;
    padding-right: 30px;
    padding-left: 30px;
}
.modal-body {

    position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
}
